In [45]:
import os
import pandas as pd
import numpy as np
filename = 'dataset_clean.csv'

df = pd.read_csv(filename)
df_2=df[['Q1','Q4','Q5','Q10','Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10','Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10','Q23','Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10','Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']] 

df_2

,Q1,Q4,Q5,Q10,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,...,Q28_Part_1,Q28_Part_2,Q28_Part_3,Q28_Part_4,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10
0,22-24,Bachelors degree,Data Scientist,"80,000-89,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,TensorFlow,Keras,0,0,0,0,0,Spark MLib,0
1,22-24,Bachelors degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,0,0,0,Xgboost,PyTorch,0,LightGBM,0,0
2,30-34,Masters degree,Product/Project Manager,"90,000-99,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,0,0,RandomForest,0,0,0,0,0,0
3,50-54,Masters degree,Data Analyst,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,0,0,Visual Studio / Visual Studio Code,...,Scikit-learn,0,0,0,0,0,0,0,0,0
4,35-39,Bachelors degree,Other,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,TensorFlow,Keras,0,0,0,0,0,0,0
5,25-29,Doctoral degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,0,0,Visual Studio / Visual Studio Code,...,Scikit-learn,TensorFlow,0,0,0,PyTorch,0,0,0,0
6,30-34,Masters degree,Research Scientist,"150,000-199,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,0,MATLAB,Visual Studio / Visual Studio Code,...,Scikit-learn,TensorFlow,Keras,RandomForest,0,PyTorch,0,0,0,0
7,30-34,Doctoral degree,Product/Project Manager,"90,000-99,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,TensorFlow,Keras,0,0,PyTorch,0,0,0,Fast.ai
8,35-39,Bachelors degree,Data Scientist,"150,000-199,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,0,Keras,0,Xgboost,0,0,LightGBM,0,0
9,30-34,Masters degree,Other,"150,000-199,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,0,0,0,...,Scikit-learn,0,0,0,0,0,0,0,0,0
10,30-34,Bachelors degree,Data Analyst,"100,000-124,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,Atom,0,0,...,Scikit-learn,0,Keras,0,0,PyTorch,0,0,Spark MLib,0
11,25-29,Doctoral degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,Atom,MATLAB,0,...,0,0,Keras,0,0,PyTorch,Caret,LightGBM,0,Fast.ai
12,25-29,Masters degree,Data Scientist,"200,000-249,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,0,0,0,...,Scikit-learn,TensorFlow,Keras,RandomForest,Xgboost,PyTorch,0,LightGBM,Spark MLib,0
13,35-39,Doctoral degree,Research Scientist,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,0,0,0,...,Scikit-learn,TensorFlow,Keras,RandomForest,Xgboost,0,Caret,0,0,0
14,30-34,Masters degree,Data Engineer,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,25-29,Masters degree,Data Engineer,"70,000-79,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,0,Keras,RandomForest,0,0,Caret,0,0,0
16,30-34,Masters degree,Business Analyst,"70,000-79,999",0,RStudio,0,0,0,0,...,0,0,0,RandomForest,0,0,Caret,0,0,0
17,30-34,Masters degree,Data Engineer,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,Visual Studio / Visual Studio Code,...,Scikit-learn,0,Keras,RandomForest,0,0,0,0,Spark MLib,0
18,22-24,Masters degree,Data Scientist,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,0,0,0,...,Scikit-learn,TensorFlow,Keras,RandomForest,Xgboost,0,0,0,0,0
19,30-34,Doctoral degree,Research Scientist,"60,000-69,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,MATLAB,Visual Studio / Visual Studio Code,...,Scikit-learn,TensorFlow,Keras,0,0,0,0,0,0,0
20,30-34,Masters degree,Business Analyst,"50,000-59,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,0,0,0,0,0,0,0,0,0
21,35-39,Masters degree,Data Scientist,"200,000-249,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,TensorFlow,0,0,0,0,0,0,0,0
22,30-34,Masters degree,Data Scientist,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,0,Keras,RandomForest,Xgboost,0,0,0,0,0
23,25-29,Doctoral degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,PyCharm,0,MATLAB,0,...,Scikit-learn,0,0,0,0,PyTorch,0,0,0,0
24,30-34,Masters degree,Data Engineer,"100,000-124,999",0,0,0,Atom,0,0,...,Scikit-learn,0,0,0,0,0,0,0,0,0
25,25-29,Masters degree,Data Analyst,"90,000-99,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,PyCharm,Atom,0,0,...,0,0,0,0,0,0,0,0,0,0
26,22-24,Bachelors degree,Data Analyst,"60,000-69,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,25-29,Masters degree,Data Scientist,"80,000-89,999",0,0,PyCharm,0,0,0,...,Scikit-learn,0,0,0,0,0,0,0,0,0
28,30-34,Doctoral degree,Data Scientist,"150,000-199,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,Atom,0,0,...,Scikit-learn,TensorFlow,Keras,RandomForest,Xgboost,0,Caret,0,0,0
29,60-69,Masters degree,Software Engineer,"100,000-124,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,Visual Studio / Visual Studio Code,...,0,TensorFlow,Keras,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424,30-34,Masters degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,MATLAB,0,...,0,0,0,0,0,0,0,0,0,0
3425,35-39,Doctoral degree,Data Scientist,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3426,25-29,Masters degree,Business Analyst,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3427,25-29,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3428,22-24,Masters degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3429,25-29,Doctoral degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3430,25-29,Masters degree,Data Scientist,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3431,30-34,Bachelors degree,Other,"70,000-79,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3432,22-24,Masters degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,MATLAB,0,...,0,0,0,0,0,0,0,0,0,0
3433,18-21,Bachelors degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3434,30-34,Masters degree,Software Engineer,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3435,18-21,Some college/university study without earning ...,Other,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3436,35-39,Masters degree,Business Analyst,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3437,22-24,Some college/university study without earning ...,Data Analyst,"40,000-49,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3438,40-44,Masters degree,Business Analyst,"80,000-89,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3439,18-21,Some college/university study without earning ...,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,PyCharm,0,MATLAB,0,...,0,0,0,0,0,0,0,0,0,0
3440,35-39,Masters degree,Data Scientist,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3441,30-34,Doctoral degree,Data Scientist,"40,000-49,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,MATLAB,0,...,0,0,0,0,0,0,0,0,0,0
3442,35-39,Bachelors degree,Data Analyst,"90,000-99,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3443,22-24,Masters degree,Data Analyst,"15,000-19,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3444,25-29,Masters degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3445,35-39,Doctoral degree,Research Scientist,"60,000-69,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3446,25-29,Masters degree,Data Engineer,"50,000-59,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3447,25-29,Masters degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3448,22-24,Bachelors degree,DBA/Database Engineer,"50,000-59,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3449,25-29,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3450,18-21,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3451,25-29,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3452,22-24,Masters degree,Research Scientist,"10,000-14,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3453,25-29,Bachelors degree,Other,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df_2["Q16_Part_1"].value_counts()

Jupyter (JupyterLab, Jupyter Notebooks, etc)     1912
0                                                1542
Name: Q16_Part_1, dtype: int64

In [47]:
cleanup_nums = {"Q1":     {"18-21": 0, "22-24": 0,"25-29": 1,"30-34": 1,
                           "35-39": 1,"40-44": 2,"45-49": 2,"50-54": 2,
                           "55-59": 3,"60-69": 3,"70+": 3},
#                 "Q2": {"Prefer not to say": 0, 
#                        "Prefer to self-describe": 0, 
#                        "Male": 1, "Female": 2},
               "Q4": {"I prefer not to answer": 0, 
                       "No formal education past high school": 0, 
                       "Some college/university study without earning a bachelors degree": 1,
                      "Bachelors degree": 2,
                     "Masters degree": 3,
                      "Doctoral degree": 4,
                      "Professional degree": 5},
                "Q5": {"Not employed": 0,
                       "Other": 0,
                       "Student": 0, 
                       "Data Scientist": 1,
                      "Software Engineer": 2,
                     "Data Analyst": 3,
                      "Data Engineer": 4,
                      "Statistician": 5,
                      "DBA/Database Engineer": 6,
                      "Research Scientist": 7,
                       "Product/Project Manager": 8,
                       "Business Analyst": 9},
               "Q10": {"0-999": 0,
                       "1,000-1,999": 1,
                       "2,000-2,999": 1, 
                       "3,000-3,999": 1,
                      "4,000-4,999": 1,
                     "5,000-7,499": 1,
                      "7,500-9,999": 1,
                      "10,000-14,999": 1,
                      "15,000-19,999": 1,
                      "20,000-24,999": 1,
                       "25,000-29,999": 1,
                       "30,000-39,999": 1,
                      "40,000-49,999": 1,
                      "50,000-59,999": 2,
                       "60,000-69,999": 3,
                       "70,000-79,999": 4,
                      "80,000-89,999": 5,
                      "90,000-99,999": 6,
                       "100,000-124,999": 7,
                       "125,000-149,999": 8,
                      "150,000-199,999": 9,
                      "200,000-249,999": 10,
                       "250,000-299,999": 10,
                       "300,000-500,000": 10,
                       "> $500,000": 10},
                "Q23": {"< 1 years": 0,
                       "1-2 years": 1,
                       "2-3 years": 1, 
                       "3-4 years": 2,
                      "4-5 years": 2,
                     "5-10 years": 3,
                      "10-15 years": 4,
                      "20+ years": 4
                    }
                
               
                
               }
            



df_3=df_2.replace(cleanup_nums)

In [48]:
df_2["Q16_Part_1"].value_counts()

Jupyter (JupyterLab, Jupyter Notebooks, etc)     1912
0                                                1542
Name: Q16_Part_1, dtype: int64

In [49]:
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()

#  Iterating over all the common columns in train and test
# for col in df_3.columns.values:
#     if df_3[col].dtypes==object: 
#         if df_3[col] !=0:
#             le.fit(df_3[col].values)
#             df_3[col]=le.transform(df_3[col])
cols=['Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10','Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10','Q23','Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10','Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']
for col in cols:
    df_3[col]=pd.to_numeric(df_3[col], errors='coerce').fillna(1).astype(int)

In [50]:
cols_Q16=['Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10']
df_3['Q16_count'] = np.count_nonzero(df_3[cols_Q16],axis=1)
cols_Q18=['Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10']
df_3['Q18_count'] = np.count_nonzero(df_3[cols_Q18],axis=1)
cols_Q24=['Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10']
df_3['Q24_count'] = np.count_nonzero(df_3[cols_Q24],axis=1)
cols_Q28=['Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']
df_3['Q28_count'] = np.count_nonzero(df_3[cols_Q28],axis=1)

In [51]:
df_3

,Q1,Q4,Q5,Q10,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,...,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10,Q16_count,Q18_count,Q24_count,Q28_count
0,0,2,1,5,1,0,0,0,0,0,...,0,0,0,0,1,0,2,1,3,4
1,0,2,0,0,1,0,1,1,0,0,...,1,1,0,1,0,0,3,1,7,4
2,1,3,8,6,1,0,1,1,0,0,...,0,0,0,0,0,0,5,1,3,2
3,2,3,3,8,1,1,0,0,0,1,...,0,0,0,0,0,0,4,3,3,1
4,1,2,0,8,1,0,0,0,0,0,...,0,0,0,0,0,0,2,1,3,3
5,1,4,0,0,1,0,1,0,0,1,...,0,1,0,0,0,0,4,1,5,3
6,1,3,7,9,1,1,0,0,1,1,...,0,1,0,0,0,0,5,3,9,5
7,1,4,8,6,1,0,1,1,0,0,...,0,1,0,0,0,1,4,2,3,5
8,1,2,1,9,1,0,0,0,0,0,...,1,0,0,1,0,0,2,2,4,4
9,1,3,0,9,1,1,0,0,0,0,...,0,0,0,0,0,0,2,2,2,1
10,1,2,3,7,1,0,0,1,0,0,...,0,1,0,0,1,0,2,3,3,4
11,1,4,0,0,1,1,0,1,1,0,...,0,1,1,1,0,1,5,5,5,5
12,1,3,1,10,1,0,1,0,0,0,...,1,1,0,1,1,0,2,2,9,8
13,1,4,7,8,1,1,0,0,0,0,...,1,0,1,0,0,0,3,4,5,6
14,1,3,4,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,3,4,4,1,0,0,0,0,0,...,0,0,1,0,0,0,2,2,1,4
16,1,3,9,4,0,1,0,0,0,0,...,0,0,1,0,0,0,1,1,3,2
17,1,3,4,8,1,0,0,0,0,1,...,0,0,0,0,1,0,3,2,3,4
18,0,3,1,8,1,0,1,0,0,0,...,1,0,0,0,0,0,3,4,4,5
19,1,4,7,3,1,0,0,0,1,1,...,0,0,0,0,0,0,4,3,4,3
20,1,3,9,2,1,0,0,0,0,0,...,0,0,0,0,0,0,3,2,3,1
21,1,3,1,10,1,0,0,0,0,0,...,0,0,0,0,0,0,3,4,3,2
22,1,3,1,8,1,0,1,1,0,0,...,1,0,0,0,0,0,5,3,4,4
23,1,4,0,0,1,1,1,0,1,0,...,0,1,0,0,0,0,4,3,4,2
24,1,3,4,7,0,0,0,1,0,0,...,0,0,0,0,0,0,2,2,2,1
25,1,3,3,6,1,1,1,1,0,0,...,0,0,0,0,0,0,6,3,5,0
26,0,2,3,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,1,3,1,5,0,0,1,0,0,0,...,0,0,0,0,0,0,1,2,1,1
28,1,4,1,9,1,1,0,1,0,0,...,1,0,1,0,0,0,3,2,5,6
29,3,3,2,7,1,0,0,0,0,1,...,0,0,0,0,0,0,3,4,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424,1,3,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,3,0,0,0
3425,1,4,1,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3426,1,3,9,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3427,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3428,0,3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,2,0,0
3429,1,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3430,1,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3431,1,2,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3432,0,3,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,2,4,6,0
3433,0,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,3,1,0
3434,1,3,2,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3435,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3436,1,3,9,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3437,0,1,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3438,2,3,9,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3439,0,1,0,0,1,1,1,0,1,0,...,0,0,0,0,0,0,4,4,0,0
3440,1,3,1,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3441,1,4,1,1,1,0,0,0,1,0,...,0,0,0,0,0,0,3,0,0,0
3442,1,2,3,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3443,0,3,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3444,1,3,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,5,5,0,0
3445,1,4,7,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3446,1,3,4,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3447,1,3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,2,3,0,0
3448,0,2,6,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3449,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3450,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3451,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3452,0,3,7,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3453,1,2,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df_4=df_3[['Q1','Q4','Q5','Q10','Q23','Q16_count','Q18_count','Q24_count','Q28_count']] 
df_4
# df_4.to_csv('data_x_cleaned.csv', index=False)

      Q1  Q4  Q5  Q10  Q23  Q16_count  Q18_count  Q24_count  Q28_count
0      0   2   1    5    2          2          1          3          4
1      0   2   0    0    1          3          1          7          4
2      1   3   8    6    1          5          1          3          2
3      2   3   3    8    1          4          3          3          1
4      1   2   0    8    1          2          1          3          3
5      1   4   0    0    1          4          1          5          3
6      1   3   7    9    2          5          3          9          5
7      1   4   8    6    3          4          2          3          5
8      1   2   1    9    3          2          2          4          4
9      1   3   0    9    2          2          2          2          1
10     1   2   3    7    1          2          3          3          4
11     1   4   0    0    2          5          5          5          5
12     1   3   1   10    3          2          2          9          8
13     1   4   7    8    4          3          4          5          6
14     1   3   4    7    0          0          0          0          0
15     1   3   4    4    1          2          2          1          4
16     1   3   9    4    1          1          1          3          2
17     1   3   4    8    1          3          2          3          4
18     0   3   1    8    0          3          4          4          5
19     1   4   7    3    2          4          3          4          3
20     1   3   9    2    0          3          2          3          1
21     1   3   1   10    3          3          4          3          2
22     1   3   1    8    2          5          3          4          4
23     1   4   0    0    1          4          3          4          2
24     1   3   4    7    2          2          2          2          1
25     1   3   3    6    1          6          3          5          0
26     0   2   3    3    0          0          0          0          0
27     1   3   1    5    2          1          2          1          1
28     1   4   1    9    2          3          2          5          6
29     3   3   2    7    0          3          4          6          2
...   ..  ..  ..  ...  ...        ...        ...        ...        ...
3424   1   3   0    0    0          3          0          0          0
3425   1   4   1    7    0          0          0          0          0
3426   1   3   9    7    0          0          0          0          0
3427   1   3   0    0    0          0          0          0          0
3428   0   3   0    0    0          1          2          0          0
3429   1   4   0    0    0          0          0          0          0
3430   1   3   1    0    0          0          0          0          0
3431   1   2   0    4    0          0          0          0          0
3432   0   3   0    0    0          2          4          6          0
3433   0   2   0    0    0          1          3          1          0
3434   1   3   2    7    0          0          0          0          0
3435   0   1   0    0    0          0          0          0          0
3436   1   3   9    7    0          0          0          0          0
3437   0   1   3    1    0          0          0          0          0
3438   2   3   9    5    0          0          0          0          0
3439   0   1   0    0    0          4          4          0          0
3440   1   3   1    7    0          0          0          0          0
3441   1   4   1    1    0          3          0          0          0
3442   1   2   3    6    0          0          0          0          0
3443   0   3   3    1    0          0          0          0          0
3444   1   3   0    0    0          5          5          0          0
3445   1   4   7    3    0          0          0          0          0
3446   1   3   4    2    0          0          0          0          0
3447   1   3   0    0    1          2          3          0          0
3448   0   2   6    2    0          0          0          0          0
3449   1   3   0    0    0          0          0          0          0
3450   0   3   0    0    0          0          0          0          0
3451   1   3   0    0    0          0          0          0          0
3452   0   3   7    1    0          0          0          0          0
3453   1   2   0    7    0          0          0          0          0

[3454 rows x 9 columns]

In [54]:
weight={0:(29/941),1:(29/744),2:(29/328),3:(29/288),7:(29/214),8:(29/127),9:29/116,4:29/100,5:29/48,6:1}
print(weight)

{0: 0.030818278427205102, 1: 0.038978494623655914, 2: 0.08841463414634146, 3: 0.10069444444444445, 7: 0.13551401869158877, 8: 0.2283464566929134, 9: 0.25, 4: 0.29, 5: 0.6041666666666666, 6: 1}

In [55]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df_4,test_size=0.15, random_state=9832)
X1_train = train_df.drop(['Q5'], axis=1)
Y1_train = train_df['Q5']
X1_test  = test_df.drop(['Q5'], axis=1)
Y1_test = test_df['Q5']

In [ ]:

Y1_train.value_counts()

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
logreg = LogisticRegression(solver = 'newton-cg', multi_class='multinomial') 
logreg.fit(X1_train,Y1_train)
logreg_train_acc = logreg.score(X1_train,Y1_train)
logreg_test_acc = logreg.score(X1_test,Y1_test)
Xnew = [[1,3,0,2,3,4,0,0]]
ynew_result = logreg.predict(Xnew)

ynew = logreg.predict_proba(Xnew)

print(max(max(ynew)))
print(ynew)
print(ynew_result)

0.6060661280642842
[[0.60606613 0.05542039 0.06826109 0.15897837 0.0161791  0.00522124
  0.00502317 0.03092468 0.01979281 0.03413303]]
[0]

In [58]:
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.4831345826235094
logreg test accuracy=  0.5048169556840078

In [59]:
from sklearn import tree
from sklearn.model_selection import train_test_split
clf = tree.DecisionTreeClassifier()
tree1=clf.fit(X1_train,Y1_train)
score = clf.score(X1_test,Y1_test)
print('Test Accuracy: ', score)

Test Accuracy:  0.42003853564547206

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
knn = KNeighborsClassifier(n_neighbors = 5)                  # instantiate
knn.fit(X1_train, Y1_train)                                    # fit
acc_knn = knn.score(X1_test, Y1_test)                            # predict + evaluate

print('K-Nearest Neighbors labeling accuracy:', str(round(acc_knn*100,2)),'%')

K-Nearest Neighbors labeling accuracy: 49.9 %

In [61]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators=1000)   # instantiate
random_forest.fit(X1_train, Y1_train)                         # fit
acc_rf = random_forest.score(X1_test, Y1_test)                  # predict + evaluate

print('RF accuracy:', str(round(acc_rf*100,2)),'%')

RF accuracy: 54.53 %

In [62]:
svc = SVC(probability=True)                                                  # instantiate
svc.fit(X1_train, Y1_train)                                    # fit
acc_svc = svc.score(X1_test, Y1_test)                            # predict + evaluate

print('Support Vector Machines labeling accuracy:', str(round(acc_svc*100,2)),'%')

//anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Support Vector Machines labeling accuracy: 54.34 %

In [67]:
Xnew = [[3,4,3,5,1,2,4,3]]
k_unchanged=svc.predict_proba(Xnew)[0]
k=svc.predict_proba(Xnew)[0]
ynew_result = svc.predict(Xnew)
print(k_unchanged)
k.sort() 
print(k)
Second=k[-2]
Third=k[-3]
Fourth=k[-4]
if ynew_result==0:
    Highest = np.where(k_unchanged ==k[-2])[0]
    Sec_high =  (np.where(k_unchanged ==k[-3])[0])
    Third_high = (np.where(k_unchanged ==k[-4])[0])
    ans = [Highest[0], Sec_high[0], Third_high[0]]
    print(ans)
    
else:
    Highest = np.where(k_unchanged ==k[-1])[0] 
    Sec_high =  (np.where(k_unchanged ==k[-2])[0])
    Third_high = (np.where(k_unchanged ==k[-3])[0])
    Four_high = (np.where(k_unchanged ==k[-4])[0])
    ans = [Highest[0], Sec_high[0], Third_high[0], Four_high[0]]
    ans.remove(0)
    print(ans[0:3])

[0.28206412 0.30532242 0.0794796  0.0449336  0.03490957 0.03188414
 0.00957682 0.11420649 0.03874559 0.05887764]
[0.00957682 0.03188414 0.03490957 0.03874559 0.0449336  0.05887764
 0.0794796  0.11420649 0.28206412 0.30532242]
[1, 7, 2]

In [79]:
perceptron = Perceptron()                                    # instantiate 
perceptron.fit(X1_train, Y1_train)                             # fit
acc_perceptron = perceptron.score(X1_test, Y1_test)              # predict + evalaute

print('Perceptron labeling accuracy:', str(round(acc_perceptron*100,2)),'%')

Perceptron labeling accuracy: 48.36 %