# Dataframe modification

In [5]:
import os
import pandas as pd
import numpy as np
filename = '..\Data\dataset_clean.csv'

df = pd.read_csv(filename)
df_2=df[['Q1','Q4','Q5','Q10','Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10','Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10','Q23','Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10','Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']] 

df_2

,Q1,Q4,Q5,Q10,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,...,Q28_Part_1,Q28_Part_2,Q28_Part_3,Q28_Part_4,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10
0,22-24,Bachelors degree,Data Scientist,"80,000-89,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,TensorFlow,Keras,0,0,0,0,0,Spark MLib,0
1,22-24,Bachelors degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,0,0,0,Xgboost,PyTorch,0,LightGBM,0,0
2,30-34,Masters degree,Product/Project Manager,"90,000-99,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,0,0,RandomForest,0,0,0,0,0,0
3,50-54,Masters degree,Data Analyst,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,0,0,Visual Studio / Visual Studio Code,...,Scikit-learn,0,0,0,0,0,0,0,0,0
4,35-39,Bachelors degree,Other,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,TensorFlow,Keras,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,25-29,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3450,18-21,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3451,25-29,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3452,22-24,Masters degree,Research Scientist,"10,000-14,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3453,25-29,Bachelors degree,Other,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
cleanup_nums = {"Q1":     {"18-21": 0, "22-24": 0,"25-29": 1,"30-34": 1,
                           "35-39": 1,"40-44": 2,"45-49": 2,"50-54": 2,
                           "55-59": 3,"60-69": 3,"70+": 3},
#                 "Q2": {"Prefer not to say": 0, 
#                        "Prefer to self-describe": 0, 
#                        "Male": 1, "Female": 2},
               "Q4": {"I prefer not to answer": 0, 
                       "No formal education past high school": 0, 
                       "Some college/university study without earning a bachelors degree": 1,
                      "Bachelors degree": 2,
                     "Masters degree": 3,
                      "Doctoral degree": 4,
                      "Professional degree": 5},
                "Q5": {"Not employed": 0,
                       "Other": 0,
                       "Student": 0, 
                       "Data Scientist": 1,
                      "Software Engineer": 2,
                     "Data Analyst": 3,
                      "Data Engineer": 4,
                      "Statistician": 5,
                      "DBA/Database Engineer": 6,
                      "Research Scientist": 7,
                       "Product/Project Manager": 8,
                       "Business Analyst": 9},
               "Q10": {"0-999": 0,
                       "1,000-1,999": 0,
                       "2,000-2,999": 0, 
                       "3,000-3,999": 0,
                      "4,000-4,999": 0,
                     "5,000-7,499": 0,
                      "7,500-9,999": 0,
                      "10,000-14,999": 0,
                      "15,000-19,999": 0,
                      "20,000-24,999": 0,
                       "25,000-29,999": 0,
                       "30,000-39,999": 0,
                      "40,000-49,999": 0,
                      "50,000-59,999": 1,
                       "60,000-69,999": 2,
                       "70,000-79,999": 3,
                      "80,000-89,999": 4,
                      "90,000-99,999": 5,
                       "100,000-124,999": 6,
                       "125,000-149,999": 7,
                      "150,000-199,999": 8,
                      "200,000-249,999": 9,
                       "250,000-299,999": 9,
                       "300,000-500,000": 9,
                       "> $500,000":  9},
                "Q23": {"< 1 years": 0,
                       "1-2 years": 1,
                       "2-3 years": 1, 
                       "3-4 years": 2,
                      "4-5 years": 2,
                     "5-10 years": 3,
                      "10-15 years": 4,
                      "20+ years": 4
                    }
                
               
                
               }
            



df_3=df_2.replace(cleanup_nums)

In [7]:
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()

#  Iterating over all the common columns in train and test
# for col in df_3.columns.values:
#     if df_3[col].dtypes==object: 
#         if df_3[col] !=0:
#             le.fit(df_3[col].values)
#             df_3[col]=le.transform(df_3[col])
cols=['Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10','Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10','Q23','Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10','Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']
for col in cols:
    df_3[col]=pd.to_numeric(df_3[col], errors='coerce').fillna(1).astype(int)

In [8]:
cols_Q16=['Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10']
df_3['Q16_count'] = np.count_nonzero(df_3[cols_Q16],axis=1)
cols_Q18=['Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10']
df_3['Q18_count'] = np.count_nonzero(df_3[cols_Q18],axis=1)
cols_Q24=['Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10']
df_3['Q24_count'] = np.count_nonzero(df_3[cols_Q24],axis=1)
cols_Q28=['Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']
df_3['Q28_count'] = np.count_nonzero(df_3[cols_Q28],axis=1)

In [9]:
df_4=df_3[['Q1','Q4','Q5','Q10','Q23','Q16_count','Q18_count','Q24_count','Q28_count']] 
# df_4.to_csv('data_x_cleaned.csv', index=False)

# 1. Job Title Prediction Model  - SVM
### input user data -> job_input = [x,x,x,x,x,x,x,x]  
### output -> ans1 = [job1,job2,job3]

In [19]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df_4,test_size=0.15, random_state=9832)
X1_train = train_df.drop(['Q5'], axis=1)
Y1_train = train_df['Q5']
X1_test  = test_df.drop(['Q5'], axis=1)
Y1_test = test_df['Q5']

In [20]:
from sklearn.svm import SVC, LinearSVC
svc = SVC(probability=True)                                                  # instantiate
svc.fit(X1_train, Y1_train)                                    # fit
acc_svc = svc.score(X1_test, Y1_test)                            # predict + evaluate

print('Support Vector Machines labeling accuracy:', str(round(acc_svc*100,2)),'%')

Support Vector Machines labeling accuracy: 53.37 %

In [21]:
from sklearn.externals import joblib
joblib.dump(svc, 'svc_jobs.pkl')
# lr = joblib.load('model.pkl')

['svc_jobs.pkl']

In [22]:
job_input = [[1,2,2,3,1,2,2,3]]
k1_unchanged=svc.predict_proba(job_input)[0]
k1=svc.predict_proba(job_input)[0]

ynew_result1 = svc.predict(job_input)
k1.sort() 
print(k1_unchanged)
print(k1)
print(ynew_result1)
Second=k1[-2]
Third=k1[-3]
Fourth=k1[-4]

if ynew_result1==0:
    Highest = np.where(k1_unchanged ==k1[-2])[0]
    Sec_high =  (np.where(k1_unchanged ==k1[-3])[0])
    Third_high = (np.where(k1_unchanged ==k1[-4])[0])
    ans1 = [Highest[0], Sec_high[0], Third_high[0]]
    print(ans1)
    
else:
    Highest = np.where(k1_unchanged ==k1[-1])[0] 
    Sec_high =  (np.where(k1_unchanged ==k1[-2])[0])
    Third_high = (np.where(k1_unchanged ==k1[-3])[0])
    Four_high = (np.where(k1_unchanged ==k1[-4])[0])
    ans1 = [Highest[0], Sec_high[0], Third_high[0], Four_high[0]]
    if 0 in ans1: ans1.remove(0)
    print(ans1[0:3])

[0.25055554 0.36300572 0.05345072 0.17036894 0.03021728 0.01239944
 0.0086352  0.02864517 0.02349538 0.05922661]
[0.0086352  0.01239944 0.02349538 0.02864517 0.03021728 0.05345072
 0.05922661 0.17036894 0.25055554 0.36300572]
[1]
[1, 3, 9]

In [23]:
salary_input = ans1

# 2. Salary Range Prediction Model - SVM
### model input -> salary_model_input = [x,x,job input from ans1,x,x,x,x,x]
### output -> ans2 = [salary1,salary2,salary3]

In [24]:
from sklearn.model_selection import train_test_split
train_df2, test_df2 = train_test_split(df_4,test_size=0.15, random_state=100)
X2_train = train_df.drop(['Q10'], axis=1)
Y2_train = train_df['Q10']
X2_test  = test_df.drop(['Q10'], axis=1)
Y2_test = test_df['Q10']

In [25]:
svc = SVC(probability=True)                                                  # instantiate
svc.fit(X2_train, Y2_train)                                    # fit
acc_svc = svc.score(X2_test, Y2_test)                            # predict + evaluate

print('Support Vector Machines labeling accuracy:', str(round(acc_svc*100,2)),'%')

Support Vector Machines labeling accuracy: 39.69 %

In [26]:
joblib.dump(svc, 'svc_salary.pkl')

['svc_salary.pkl']

In [27]:
ans2 = []
for x in salary_input:
    salary_model_input = [[0,0,x,0,0,0,0,0]] 
    k_unchanged=svc.predict_proba(salary_model_input)[0]
    k=svc.predict_proba(salary_model_input)[0]
    ynew_result = svc.predict(salary_model_input)
    #print(k_unchanged)
    k.sort() 
    #print(k)

    if ynew_result==0:
        Highest = np.where(k_unchanged ==k[-2])[0]
        print(Highest)
        ans2.append(Highest[0])
    else:
        Highest = np.where(k_unchanged ==k[-1])[0] 
        print(Highest)
        ans2.append(Highest[0])

[6]
[6]
[6]

In [28]:
# ans1 = job recommended
# ans2 = salary range predicted based on ans1
print(ans1,ans2)

[1, 3, 9] [6, 6, 6]

SalaryRange:           
"0-49,999": 0,  
"50,000-59,999": 1,  
"60,000-69,999": 2,  
"70,000-79,999": 3,  
"80,000-89,999": 4,  
"90,000-99,999": 5,  
"100,000-124,999": 6,  
"125,000-149,999": 7,  
"150,000-199,999": 8,  
"200,000+": 9