In [1]:
import os
import pandas as pd
import numpy as np
filename = '..\Data\dataset_clean.csv'

df = pd.read_csv(filename)
df_2=df[['Q1','Q4','Q5','Q10','Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10','Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10','Q23','Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10','Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']] 

df_2

,Q1,Q4,Q5,Q10,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,...,Q28_Part_1,Q28_Part_2,Q28_Part_3,Q28_Part_4,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10
0,22-24,Bachelors degree,Data Scientist,"80,000-89,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,TensorFlow,Keras,0,0,0,0,0,Spark MLib,0
1,22-24,Bachelors degree,Student,0-999,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,0,0,0,Xgboost,PyTorch,0,LightGBM,0,0
2,30-34,Masters degree,Product/Project Manager,"90,000-99,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,PyCharm,Atom,0,0,...,Scikit-learn,0,0,RandomForest,0,0,0,0,0,0
3,50-54,Masters degree,Data Analyst,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,0,0,0,Visual Studio / Visual Studio Code,...,Scikit-learn,0,0,0,0,0,0,0,0,0
4,35-39,Bachelors degree,Other,"125,000-149,999","Jupyter (JupyterLab, Jupyter Notebooks, etc)",0,0,0,0,0,...,Scikit-learn,TensorFlow,Keras,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,25-29,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3450,18-21,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3451,25-29,Masters degree,Student,0-999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3452,22-24,Masters degree,Research Scientist,"10,000-14,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3453,25-29,Bachelors degree,Other,"100,000-124,999",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
df_2["Q16_Part_1"].value_counts()

Jupyter (JupyterLab, Jupyter Notebooks, etc)     1912
0                                                1542
Name: Q16_Part_1, dtype: int64

In [3]:
cleanup_nums = {"Q1":     {"18-21": 0, "22-24": 0,"25-29": 1,"30-34": 1,
                           "35-39": 1,"40-44": 2,"45-49": 2,"50-54": 2,
                           "55-59": 3,"60-69": 3,"70+": 3},
#                 "Q2": {"Prefer not to say": 0, 
#                        "Prefer to self-describe": 0, 
#                        "Male": 1, "Female": 2},
               "Q4": {"I prefer not to answer": 0, 
                       "No formal education past high school": 0, 
                       "Some college/university study without earning a bachelors degree": 1,
                      "Bachelors degree": 2,
                     "Masters degree": 3,
                      "Doctoral degree": 4,
                      "Professional degree": 5},
                "Q5": {"Not employed": 0,
                       "Other": 0,
                       "Student": 0, 
                       "Data Scientist": 1,
                      "Software Engineer": 2,
                     "Data Analyst": 3,
                      "Data Engineer": 4,
                      "Statistician": 5,
                      "DBA/Database Engineer": 6,
                      "Research Scientist": 7,
                       "Product/Project Manager": 8,
                       "Business Analyst": 9},
               "Q10": {"0-999": 0,
                       "1,000-1,999": 1,
                       "2,000-2,999": 1, 
                       "3,000-3,999": 1,
                      "4,000-4,999": 1,
                     "5,000-7,499": 1,
                      "7,500-9,999": 1,
                      "10,000-14,999": 1,
                      "15,000-19,999": 1,
                      "20,000-24,999": 1,
                       "25,000-29,999": 1,
                       "30,000-39,999": 1,
                      "40,000-49,999": 1,
                      "50,000-59,999": 2,
                       "60,000-69,999": 3,
                       "70,000-79,999": 4,
                      "80,000-89,999": 5,
                      "90,000-99,999": 6,
                       "100,000-124,999": 7,
                       "125,000-149,999": 8,
                      "150,000-199,999": 9,
                      "200,000-249,999": 10,
                       "250,000-299,999": 10,
                       "300,000-500,000": 10,
                       "> $500,000": 10},
                "Q23": {"< 1 years": 0,
                       "1-2 years": 1,
                       "2-3 years": 1, 
                       "3-4 years": 2,
                      "4-5 years": 2,
                     "5-10 years": 3,
                      "10-15 years": 4,
                      "20+ years": 4
                    }
                
               
                
               }
            



df_3=df_2.replace(cleanup_nums)

In [4]:
df_2["Q16_Part_1"].value_counts()

Jupyter (JupyterLab, Jupyter Notebooks, etc)     1912
0                                                1542
Name: Q16_Part_1, dtype: int64

In [5]:
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()

#  Iterating over all the common columns in train and test
# for col in df_3.columns.values:
#     if df_3[col].dtypes==object: 
#         if df_3[col] !=0:
#             le.fit(df_3[col].values)
#             df_3[col]=le.transform(df_3[col])
cols=['Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10','Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10','Q23','Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10','Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']
for col in cols:
    df_3[col]=pd.to_numeric(df_3[col], errors='coerce').fillna(1).astype(int)

In [6]:
cols_Q16=['Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10']
df_3['Q16_count'] = np.count_nonzero(df_3[cols_Q16],axis=1)
cols_Q18=['Q18_Part_1','Q18_Part_2','Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_Part_7','Q18_Part_8','Q18_Part_9','Q18_Part_10']
df_3['Q18_count'] = np.count_nonzero(df_3[cols_Q18],axis=1)
cols_Q24=['Q24_Part_1','Q24_Part_2','Q24_Part_3','Q24_Part_4','Q24_Part_5','Q24_Part_6','Q24_Part_7','Q24_Part_8','Q24_Part_9','Q24_Part_10']
df_3['Q24_count'] = np.count_nonzero(df_3[cols_Q24],axis=1)
cols_Q28=['Q28_Part_1','Q28_Part_2','Q28_Part_3','Q28_Part_4','Q28_Part_5','Q28_Part_6','Q28_Part_7','Q28_Part_8','Q28_Part_9','Q28_Part_10']
df_3['Q28_count'] = np.count_nonzero(df_3[cols_Q28],axis=1)

In [7]:
df_3

,Q1,Q4,Q5,Q10,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,...,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10,Q16_count,Q18_count,Q24_count,Q28_count
0,0,2,1,5,1,0,0,0,0,0,...,0,0,0,0,1,0,2,1,3,4
1,0,2,0,0,1,0,1,1,0,0,...,1,1,0,1,0,0,3,1,7,4
2,1,3,8,6,1,0,1,1,0,0,...,0,0,0,0,0,0,5,1,3,2
3,2,3,3,8,1,1,0,0,0,1,...,0,0,0,0,0,0,4,3,3,1
4,1,2,0,8,1,0,0,0,0,0,...,0,0,0,0,0,0,2,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3450,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3451,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3452,0,3,7,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3453,1,2,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df_4=df_3[['Q1','Q4','Q5','Q10','Q23','Q16_count','Q18_count','Q24_count','Q28_count']] 
df_4
# df_4.to_csv('data_x_cleaned.csv', index=False)

      Q1  Q4  Q5  Q10  Q23  Q16_count  Q18_count  Q24_count  Q28_count
0      0   2   1    5    2          2          1          3          4
1      0   2   0    0    1          3          1          7          4
2      1   3   8    6    1          5          1          3          2
3      2   3   3    8    1          4          3          3          1
4      1   2   0    8    1          2          1          3          3
...   ..  ..  ..  ...  ...        ...        ...        ...        ...
3449   1   3   0    0    0          0          0          0          0
3450   0   3   0    0    0          0          0          0          0
3451   1   3   0    0    0          0          0          0          0
3452   0   3   7    1    0          0          0          0          0
3453   1   2   0    7    0          0          0          0          0

[3454 rows x 9 columns]

In [9]:

Y1_train.value_counts()

NameError: name 'Y1_train' is not defined

In [10]:
weight={0:(29/941),1:(29/744),2:(29/328),3:(29/288),7:(29/214),8:(29/127),9:29/116,4:29/100,5:29/48,6:1}
print(weight)

{0: 0.030818278427205102, 1: 0.038978494623655914, 2: 0.08841463414634146, 3: 0.10069444444444445, 7: 0.13551401869158877, 8: 0.2283464566929134, 9: 0.25, 4: 0.29, 5: 0.6041666666666666, 6: 1}

In [11]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df_4,test_size=0.15, random_state=100)
X1_train = train_df.drop(['Q5'], axis=1)
Y1_train = train_df['Q5']
X1_test  = test_df.drop(['Q5'], axis=1)
Y1_test = test_df['Q5']

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
logreg = LogisticRegression(solver = 'newton-cg', multi_class='multinomial') 
logreg.fit(X1_train,Y1_train)
logreg_train_acc = logreg.score(X1_train,Y1_train)
logreg_test_acc = logreg.score(X1_test,Y1_test)
Xnew = [[1,3,0,6,2,3,0,0]]
ynew_result = logreg.predict(Xnew)

ynew = logreg.predict_proba(Xnew)

print(max(max(ynew)))
print(ynew)
print(ynew_result)

0.4353482377399463
[[0.43534824 0.29511904 0.0295512  0.09780728 0.00396688 0.01260237
  0.00094267 0.09894752 0.00670165 0.01901315]]
[0]

In [14]:
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.4899488926746167
logreg test accuracy=  0.4913294797687861

In [15]:
from sklearn import tree
from sklearn.model_selection import train_test_split
clf = tree.DecisionTreeClassifier()
tree1=clf.fit(X1_train,Y1_train)
score = clf.score(X1_test,Y1_test)
print('Test Accuracy: ', score)

Test Accuracy:  0.43352601156069365

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
knn = KNeighborsClassifier(n_neighbors = 5)                  # instantiate
knn.fit(X1_train, Y1_train)                                    # fit
acc_knn = knn.score(X1_test, Y1_test)                            # predict + evaluate

print('K-Nearest Neighbors labeling accuracy:', str(round(acc_knn*100,2)),'%')

K-Nearest Neighbors labeling accuracy: 48.94 %

In [17]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators=1000)   # instantiate
random_forest.fit(X1_train, Y1_train)                         # fit
acc_rf = random_forest.score(X1_test, Y1_test)                  # predict + evaluate

print('RF accuracy:', str(round(acc_rf*100,2)),'%')

RF accuracy: 51.45 %

In [18]:
svc = SVC(probability=True)                                                  # instantiate
svc.fit(X1_train, Y1_train)                                    # fit
acc_svc = svc.score(X1_test, Y1_test)                            # predict + evaluate

print('Support Vector Machines labeling accuracy:', str(round(acc_svc*100,2)),'%')

Support Vector Machines labeling accuracy: 51.45 %

In [24]:
X1_train.columns

Index(['Q1', 'Q4', 'Q10', 'Q23', 'Q16_count', 'Q18_count', 'Q24_count',
       'Q28_count'],
      dtype='object')

In [22]:
from sklearn.externals import joblib
joblib.dump(svc, 'svc_model.pkl')
# lr = joblib.load('model.pkl')

['svc_model.pkl']

In [20]:
Xnew = [[1,0,0,0,0,0,0,0]]
k_unchanged=svc.predict_proba(Xnew)[0]
k=svc.predict_proba(Xnew)[0]
ynew_result = svc.predict(Xnew)
print(k_unchanged)
k.sort() 
print(k)
Second=k[-2]
Third=k[-3]
Fourth=k[-4]
final_jobs = []
if ynew_result==0:
    for i in range(len(k_unchanged)):
        if k_unchanged[i]==Second:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Third:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Fourth:
            print(i)
            final_jobs.append(i)
else:
    print(ynew_result[0])
    for i in range(len(k_unchanged)):
        if k_unchanged[i]==Second and i!=0:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Third and i!=0:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Fourth and i!=0:
            print(i)
            final_jobs.append(i)
final_jobs

[0.60419564 0.03418254 0.0569489  0.09240889 0.03547911 0.01419607
 0.01035244 0.01959095 0.0552285  0.07741695]
[0.01035244 0.01419607 0.01959095 0.03418254 0.03547911 0.0552285
 0.0569489  0.07741695 0.09240889 0.60419564]
2
3
9

[2, 3, 9]

In [ ]:
Xnew = [[3,4,3,5,1,2,4,3]]


k_unchanged=svc_model.predict_proba(Xnew)[0]
k=svc_model.predict_proba(Xnew)[0]
ynew_result = svc_model.predict(Xnew)
k.sort() 
# Second=k[-2]
# Third=k[-3]
# Fourth=k[-4]
if ynew_result==0:
    Highest = np.where(k_unchanged ==k[-2])[0]
    Sec_high =  (np.where(k_unchanged ==k[-3])[0])
    Third_high = (np.where(k_unchanged ==k[-4])[0])
    ans = [Highest[0], Sec_high[0], Third_high[0]]
    print(ans)
    
else:
    Highest = np.where(k_unchanged ==k[-1])[0] 
    Sec_high =  (np.where(k_unchanged ==k[-2])[0])
    Third_high = (np.where(k_unchanged ==k[-3])[0])
    Four_high = (np.where(k_unchanged ==k[-4])[0])
    ans = [Highest[0], Sec_high[0], Third_high[0], Four_high[0]]
    ans.remove(0)
    print(ans[0:3])

In [23]:
# joblib.dump(svc, 'svc_model.pkl')
svc1 = joblib.load('svc_model.pkl')
Xnew = [[1,0,0,0,0,0,0,0]]
k_unchanged=svc1.predict_proba(Xnew)[0]
k=svc1.predict_proba(Xnew)[0]
ynew_result = svc1.predict(Xnew)
print(k_unchanged)
k.sort() 
print(k)
Second=k[-2]
Third=k[-3]
Fourth=k[-4]
final_jobs = []
if ynew_result==0:
    for i in range(len(k_unchanged)):
        if k_unchanged[i]==Second:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Third:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Fourth:
            print(i)
            final_jobs.append(i)
else:
    print(ynew_result[0])
    for i in range(len(k_unchanged)):
        if k_unchanged[i]==Second and i!=0:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Third and i!=0:
            print(i)
            final_jobs.append(i)
        elif k_unchanged[i]==Fourth and i!=0:
            print(i)
            final_jobs.append(i)
final_jobs

[0.60419564 0.03418254 0.0569489  0.09240889 0.03547911 0.01419607
 0.01035244 0.01959095 0.0552285  0.07741695]
[0.01035244 0.01419607 0.01959095 0.03418254 0.03547911 0.0552285
 0.0569489  0.07741695 0.09240889 0.60419564]
2
3
9

[2, 3, 9]

In [0]:
perceptron = Perceptron()                                    # instantiate 
perceptron.fit(X1_train, Y1_train)                             # fit
acc_perceptron = perceptron.score(X1_test, Y1_test)              # predict + evalaute

print('Perceptron labeling accuracy:', str(round(acc_perceptron*100,2)),'%')

Perceptron labeling accuracy: 40.66 %

In [1]:
# XGBoost, same API as scikit-learn
import xgboost as xgb
gradboost = xgb.XGBClassifier(n_estimators=1000)             # instantiate
gradboost.fit(X1_train, Y1_train)                              # fit
acc_xgboost = gradboost.score(X1_test, Y1_test)                  # predict + evalute

print('XGBoost labeling accuracy:', str(round(acc_xgboost*100,2)),'%')

NameError: ignored

In [0]:
k=[]
for i in df_3['Q1']:
    k.append(i)
print(k)

[0, 0, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 3, 3, 2, 1, 1, 0, 2, 1, 1, 1, 1, 0, 1, 3, 0, 0, 2, 2, 1, 2, 1, 1, 2, 2, 1, 1, 3, 2, 2, 2, 0, 3, 1, 3, 2, 1, 1, 0, 1, 1, 1, 1, 1, 2, 1, 3, 3, 3, 0, 1, 2, 1, 1, 1, 3, 1, 1, 2, 1, 1, 2, 2, 0, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 0, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 1, 0, 3, 1, 0, 3, 1, 2, 0, 1, 0, 0, 2, 0, 0, 3, 1, 1, 2, 2, 1, 0, 0, 1, 1, 3, 0, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 0, 2, 1, 2, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 0, 1, 0, 3, 1, 2, 1, 1, 1, 1, 3, 2, 2, 1, 3, 1, 1, 1, 3, 2, 2, 0, 1, 2, 1, 3, 1, 1, 0, 1, 1, 2, 0, 1, 1, 0, 2, 1, 0, 2, 3, 2, 2, 2, 2, 0, 1, 2, 2, 1, 1, 1, 1, 0, 3, 3, 0, 2, 1, 3, 1, 0, 1, 1, 0, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 2, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 2, 0, 1, 0, 1, 0, 1, 2, 1, 2, 1, 1, 1, 0, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 3, 1, 2, 2, 2, 3, 3, 1, 0, 3, 2, 1, 1, 3, 0, 1, 2, 1, 1, 1, 2, 1, 1, 1, 0, 2, 2, 1, 0, 1, 2, 1, 3, 0, 2, 1, 0, 3, 1, 1, 0, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 2, 2, 2, 2, 1, 0, 2, 1, 1, 1, 1, 2, 1, 0, 1, 1, 2, 2, 2, 1, 3, 3, 3, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 0, 0, 3, 1, 1, 3, 1, 1, 2, 1, 2, 1, 0, 3, 1, 2, 2, 2, 2, 0, 1, 0, 2, 1, 1, 3, 2, 3, 0, 2, 1, 0, 1, 1, 2, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 3, 3, 2, 1, 0, 1, 1, 2, 0, 1, 0, 0, 1, 3, 1, 1, 1, 3, 2, 3, 1, 2, 2, 0, 3, 3, 1, 2, 1, 1, 0, 1, 2, 2, 1, 0, 2, 1, 2, 0, 1, 0, 0, 1, 1, 1, 3, 2, 2, 3, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 3, 2, 3, 1, 1, 0, 1, 2, 0, 1, 2, 3, 0, 2, 0, 1, 3, 2, 2, 1, 2, 1, 1, 3, 1, 2, 1, 2, 1, 1, 1, 2, 1, 0, 1, 2, 3, 1, 0, 1, 1, 2, 1, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 1, 3, 0, 1, 0, 2, 2, 1, 0, 1, 1, 1, 1, 1, 0, 3, 1, 1, 2, 1, 2, 2, 0, 1, 2, 1, 1, 1, 1, 1, 0, 1, 1, 3, 2, 2, 2, 2, 1, 1, 3, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 2, 1, 1, 3, 2, 2, 1, 1, 1, 1, 2, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 0, 3, 0, 3, 1, 3, 0, 1, 1, 1, 1, 1, 1, 3, 1, 2, 0, 1, 1, 3, 1, 1, 1, 2, 1, 1, 3, 1, 0, 1, 3, 1, 2, 1, 3, 3, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 1, 2, 1, 2, 2, 0, 0, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 3, 2, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 3, 3, 2, 1, 1, 0, 1, 1, 1, 1, 2, 1, 1, 0, 0, 2, 1, 1, 1, 1, 3, 1, 1, 0, 2, 1, 1, 0, 0, 1, 1, 3, 2, 2, 1, 1, 1, 1, 2, 1, 1, 3, 2, 1, 1, 3, 1, 0, 2, 3, 0, 3, 1, 3, 2, 1, 1, 2, 0, 2, 1, 2, 1, 2, 0, 2, 1, 1, 2, 2, 1, 2, 3, 3, 2, 1, 1, 0, 1, 3, 1, 1, 2, 1, 2, 2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 0, 2, 2, 1, 3, 1, 2, 3, 1, 3, 3, 1, 2, 3, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 3, 1, 2, 2, 2, 2, 1, 1, 2, 0, 1, 0, 2, 1, 3, 1, 1, 1, 1, 2, 1, 1, 0, 1, 1, 2, 1, 3, 0, 0, 1, 2, 2, 2, 2, 1, 0, 2, 0, 1, 1, 2, 3, 1, 2, 2, 1, 1, 1, 0, 0, 1, 1, 1, 2, 1, 2, 1, 1, 1, 0, 1, 3, 1, 1, 2, 2, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 2, 2, 2, 1, 1, 2, 3, 2, 1, 1, 2, 1, 0, 0, 0, 1, 1, 3, 1, 1, 2, 1, 1, 3, 1, 1, 1, 2, 1, 0, 0, 1, 2, 0, 2, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 2, 3, 1, 1, 3, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 2, 1, 1, 3, 1, 3, 1, 2, 1, 2, 1, 3, 3, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 3, 1, 3, 3, 1, 2, 2, 1, 0, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 3, 1, 3, 2, 1, 2, 1, 1, 0, 1, 3, 3, 1, 1, 0, 1, 2, 0, 1, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 0, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 3, 3, 2, 0, 0, 2, 2, 2, 1, 1, 1, 1, 0, 2, 2, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 1, 3, 2, 2, 1, 1, 0, 1, 1, 1, 1, 3, 2, 2, 1, 1, 1, 0, 3, 1, 2, 0, 1, 3, 2, 2, 1, 1, 1, 3, 0, 1, 2, 2, 1, 1, 0, 1, 2, 3, 1, 1, 2, 1, 1, 1, 3, 0, 3, 0, 1, 1, 1, 1, 1, 0, 2, 2, 0, 0, 1, 3, 1, 1, 3, 3, 1, 1, 0, 1, 1, 1, 1, 2, 2, 2, 1, 3, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, 1, 1, 2, 1, 1, 1, 3, 1, 0, 0, 1, 0, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 3, 1, 1, 1, 0, 3, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 0, 2, 1, 1, 3, 1, 3, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 3, 1, 1, 0, 2, 1, 0, 1, 1, 0, 1, 1, 1, 1, 2, 2, 1, 1, 1, 3, 2, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 0, 3, 2, 2, 3, 1, 1, 1, 1, 3, 1, 3, 1, 2, 1, 2, 1, 2, 1, 1, 1, 0, 2, 0, 2, 0, 1, 0, 2, 1, 2, 1, 1, 1, 1, 1, 1, 3, 0, 2, 2, 1, 2, 2, 1, 0, 0, 0, 1, 1, 3, 2, 2, 1, 1, 3, 2, 2, 3, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1, 3, 1, 2, 0, 2, 2, 1, 2, 1, 1, 2, 0, 0, 1, 2, 1, 2, 0, 2, 1, 3, 2, 1, 1, 0, 1, 1, 1, 1, 3, 1, 3, 1, 2, 3, 0, 3, 3, 1, 1, 3, 1, 3, 1, 2, 1, 2, 1, 3, 2, 3, 3, 2, 2, 1, 1, 1, 2, 3, 1, 2, 0, 3, 2, 0, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 0, 1, 3, 1, 1, 0, 1, 1, 2, 2, 3, 1, 2, 1, 2, 1, 1, 1, 3, 3, 1, 0, 1, 2, 1, 0, 1, 2, 1, 2, 2, 1, 3, 1, 3, 1, 1, 1, 1, 1, 2, 1, 0, 0, 2, 1, 0, 1, 1, 1, 1, 0, 1, 0, 2, 2, 0, 1, 1, 2, 1, 1, 3, 3, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 0, 1, 1, 1, 1, 3, 1, 1, 1, 1, 2, 1, 3, 0, 1, 1, 1, 1, 0, 1, 1, 2, 0, 0, 2, 2, 2, 0, 0, 1, 2, 3, 0, 0, 1, 3, 1, 1, 2, 2, 3, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 3, 1, 1, 2, 2, 1, 1, 1, 1, 3, 1, 1, 2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 3, 1, 2, 0, 1, 1, 2, 1, 2, 2, 2, 2, 3, 3, 1, 0, 1, 2, 1, 2, 1, 2, 3, 1, 2, 1, 2, 3, 1, 1, 2, 1, 1, 3, 2, 2, 2, 2, 3, 1, 1, 3, 1, 1, 1, 0, 3, 0, 1, 2, 2, 1, 2, 1, 1, 0, 2, 3, 0, 2, 1, 1, 2, 2, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 0, 2, 0, 1, 1, 3, 2, 3, 1, 3, 1, 2, 1, 1, 1, 2, 2, 0, 2, 1, 1, 1, 0, 1, 3, 1, 2, 1, 2, 0, 0, 1, 1, 2, 1, 1, 1, 2, 3, 1, 1, 1, 1, 3, 2, 3, 1, 2, 1, 1, 1, 0, 3, 2, 3, 1, 2, 2, 3, 1, 0, 1, 1, 1, 1, 2, 1, 3, 0, 2, 1, 1, 2, 0, 2, 3, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 3, 1, 0, 1, 1, 0, 3, 3, 2, 2, 2, 2, 1, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 0, 1, 3, 2, 1, 2, 3, 1, 2, 2, 1, 1, 1, 0, 3, 0, 3, 1, 0, 3, 0, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 0, 0, 2, 1, 1, 2, 2, 1, 1, 2, 0, 2, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 1, 2, 2, 0, 1, 3, 1, 1, 2, 1, 1, 0, 1, 2, 1, 3, 2, 0, 3, 2, 0, 1, 1, 0, 0, 2, 2, 1, 2, 1, 1, 2, 3, 1, 3, 1, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 0, 2, 2, 0, 1, 1, 2, 2, 2, 3, 2, 0, 3, 0, 3, 1, 2, 2, 1, 2, 2, 2, 0, 1, 1, 3, 0, 0, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1, 3, 0, 1, 0, 0, 0, 2, 2, 1, 0, 2, 1, 0, 1, 1, 1, 1, 3, 3, 0, 0, 2, 1, 1, 3, 1, 2, 2, 1, 2, 3, 1, 1, 2, 1, 3, 1, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 2, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 3, 1, 1, 1, 1, 1, 0, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 0, 0, 1, 1, 3, 2, 3, 1, 3, 2, 2, 1, 3, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 0, 1, 1, 0, 1, 2, 2, 2, 1, 0, 3, 2, 0, 0, 1, 0, 1, 0, 1, 0, 1, 3, 3, 2, 0, 2, 1, 1, 3, 2, 3, 1, 1, 2, 1, 0, 2, 1, 3, 1, 1, 1, 2, 3, 1, 2, 0, 1, 0, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, 2, 2, 1, 1, 1, 2, 0, 2, 1, 1, 1, 0, 1, 3, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 2, 2, 1, 1, 2, 2, 0, 2, 1, 1, 2, 1, 2, 2, 1, 0, 1, 1, 2, 1, 1, 1, 1, 3, 1, 2, 1, 0, 0, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 2, 1, 2, 1, 1, 1, 1, 1, 1, 0, 0, 2, 1, 3, 1, 1, 1, 2, 1, 1, 1, 0, 1, 0, 0, 1, 3, 3, 1, 2, 3, 1, 1, 1, 0, 3, 1, 1, 2, 2, 0, 0, 1, 0, 2, 2, 1, 1, 1, 2, 0, 1, 0, 3, 1, 0, 2, 1, 0, 3, 2, 2, 2, 1, 2, 1, 1, 1, 3, 1, 2, 1, 0, 1, 1, 2, 2, 0, 0, 1, 1, 2, 2, 0, 1, 2, 1, 2, 0, 1, 0, 2, 1, 2, 1, 1, 3, 2, 2, 2, 3, 3, 2, 2, 1, 3, 3, 3, 3, 3, 3, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 2, 0, 1, 0, 1, 3, 2, 1, 0, 2, 0, 3, 2, 1, 1, 2, 1, 3, 2, 2, 1, 1, 2, 1, 2, 3, 0, 3, 0, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 2, 1, 2, 0, 0, 2, 1, 1, 0, 0, 2, 2, 1, 3, 3, 3, 0, 1, 2, 2, 1, 2, 2, 0, 0, 1, 1, 1, 1, 1, 3, 0, 1, 3, 2, 1, 2, 1, 1, 0, 1, 2, 1, 1, 2, 1, 2, 0, 3, 0, 3, 1, 1, 1, 3, 1, 1, 0, 1, 1, 1, 1, 2, 1, 1, 0, 0, 0, 1, 1, 3, 0, 1, 2, 2, 1, 1, 2, 1, 1, 2, 3, 2, 0, 1, 1, 1, 0, 3, 0, 1, 2, 0, 2, 1, 1, 2, 3, 1, 2, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 2, 1, 2, 1, 0, 1, 1, 0, 1, 1, 1, 3, 1, 2, 2, 0, 1, 1, 0, 0, 0, 2, 2, 1, 1, 2, 3, 1, 1, 1, 2, 0, 1, 1, 0, 1, 3, 0, 1, 3, 0, 1, 2, 1, 2, 1, 1, 0, 1, 3, 1, 1, 1, 1, 0, 0, 1, 3, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 2, 2, 2, 2, 0, 0, 3, 1, 1, 1, 0, 0, 1, 0, 2, 2, 1, 0, 0, 0, 0, 0, 1, 1, 2, 3, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 3, 0, 0, 1, 1, 3, 0, 2, 1, 2, 3, 1, 3, 0, 2, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 2, 0, 1, 1, 1, 3, 1, 2, 2, 1, 0, 1, 2, 2, 2, 1, 1, 0, 1, 3, 2, 1, 1, 1, 2, 1, 2, 2, 3, 1, 2, 3, 1, 1, 0, 0, 1, 1, 3, 0, 1, 1, 2, 2, 1, 3, 1, 1, 2, 1, 3, 1, 3, 3, 3, 2, 0, 1, 0, 2, 1, 0, 3, 0, 3, 1, 3, 1, 3, 1, 1, 0, 1, 2, 0, 1, 2, 1, 1, 1, 1, 3, 1, 0, 0, 3, 1, 0, 0, 1, 1, 0, 1, 0, 3, 1, 2, 1, 0, 1, 0, 3, 0, 1, 2, 2, 1, 2, 2, 1, 3, 2, 1, 2, 2, 0, 1, 1, 1, 0, 0, 2, 1, 2, 2, 0, 2, 2, 2, 2, 2, 1, 3, 2, 2, 2, 0, 1, 3, 1, 1, 2, 1, 3, 1, 1, 1, 3, 0, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 2, 2, 1, 1, 1, 2, 2, 3, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 2, 1, 2, 2, 3, 1, 3, 2, 0, 2, 3, 0, 3, 3, 1, 2, 3, 2, 1, 1, 1, 1, 1, 1, 3, 1, 0, 3, 1, 3, 1, 1, 3, 1, 0, 0, 1, 1, 0, 2, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 2, 2, 0, 3, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 2, 1, 2, 2, 1, 2, 2, 1, 1, 3, 0, 1, 0, 0, 1, 0, 2, 0, 1, 1, 2, 1, 0, 1, 2, 2, 1, 1, 1, 3, 0, 1, 2, 1, 3, 0, 1, 2, 0, 1, 3, 2, 2, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 3, 0, 0, 2, 0, 0, 1, 3, 1, 2, 0, 2, 0, 1, 1, 2, 0, 1, 2, 1, 0, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 0, 2, 1, 1, 3, 1, 1, 2, 0, 0, 1, 0, 0, 2, 1, 1, 0, 2, 0, 0, 1, 1, 2, 2, 1, 2, 2, 0, 1, 1, 0, 2, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 2, 3, 0, 0, 1, 1, 3, 2, 1, 1, 0, 1, 1, 1, 2, 1, 1, 0, 0, 1, 0, 1, 2, 1, 2, 0, 1, 1, 1, 2, 1, 3, 1, 2, 1, 1, 2, 1, 0, 2, 0, 1, 1, 2, 1, 2, 0, 1, 1, 1, 1, 2, 1, 1, 0, 1, 2, 3, 1, 1, 1, 1, 1, 2, 2, 0, 3, 0, 2, 0, 1, 1, 1, 1, 3, 0, 3, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 2, 1, 0, 1, 2, 2, 1, 1, 1, 2, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 2, 2, 2, 2, 1, 1, 0, 2, 1, 1, 1, 0, 1, 0, 1, 2, 2, 0, 1, 1, 0, 1, 1, 1, 1, 2, 1, 2, 0, 2, 1, 3, 0, 0, 2, 0, 1, 1, 0, 1, 1, 0, 2, 1, 1, 1, 1, 2, 1, 1, 1, 0, 2, 0, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 0, 1, 0, 0, 0, 0, 0, 2, 1, 1, 0, 0, 1, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 2, 2, 1, 0, 1, 2, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 3, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 2, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1]